
<!-- about us -->
<section class="sm:flex items-center max-w-screen bg-custom-bg-light">
    <div class="sm:w-1/2 p-10">
        <div class="image object-center text-center">
            <img src="https://i.imgur.com/WbQnbas.png">
        </div>
    </div>
    <div class="sm:w-1/2 p-5">
        <div class="rounded-3xl mr-10">
            <span class="text-gray-500 border-b-2 border-orange-400 uppercase">About us</span>
            <h2 class="my-4 font-bold text-3xl  sm:text-4xl text-gray-300 ">About <span class="text-orange-400">Our Company</span>
            </h2>
            <p class="text-gray-300">
                North Triam Tech is ready to provide you with solutions that will revolutionize your business processes. Be it pre-built solutions, ready to integrate company-built applications that can fix current scenarios for different businesses, to custom application development, to suit your brands exact needs, our team will provide.<br><br>
                Our team will update your business model with fresh perspectives that will help invigorate and rejuvinate your conventional business approach. Geared with new infrastracture and models, prepare yourself with better performing strategies you didn’t know is possible.<br><br>
                Take advantage of the information age and let North Triam Tech help you.
            </p>
        </div>
    </div>
</section>

    <!-- process -->
<section class="w-full h-full md:pb-32 bg-gray-900">
    <div class="text-center md:py-20 space-y-7">
        <h3 class="font-semibold text-sm space-x-1 text-gray-500">HOW WE WORK</h3>
        <h2 class="font-sans transform-none font-bold text-3xl text-white">A Simple Process</h2>
    </div>
    <div class="relative mt-12 lg:mt-20">

        <div class="absolute inset-x-0 hidden xl:px-44 top-2 md:block md:px-20 lg:px-28 ">
            <svg class="w-full" xmlns="http://www.w3.org/2000/svg" width="875" height="48" viewBox="0 0 875 48"
                fill="none">
                <path
                    d="M2 29C20.2154 33.6961 38.9915 35.1324 57.6111 37.5555C80.2065 40.496 102.791 43.3231 125.556 44.5555C163.184 46.5927 201.26 45 238.944 45C312.75 45 385.368 30.7371 458.278 20.6666C495.231 15.5627 532.399 11.6429 569.278 6.11109C589.515 3.07551 609.767 2.09927 630.222 1.99998C655.606 1.87676 681.208 1.11809 706.556 2.44442C739.552 4.17096 772.539 6.75565 805.222 11.5C828 14.8064 850.34 20.2233 873 24"
                    stroke="#D4D4D8" stroke-width="3" stroke-linecap="round" stroke-dasharray="1 12" />
            </svg>
        </div>
        
        <div class="relative grid grid-cols-1 text-center gap-y-12 md:grid-cols-3 gap-x-12">
            <div>
                <div class="flex items-center justify-center w-16 h-16 mx-auto cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" fill="orange" class="bi bi-lightbulb" viewBox="0 0 16 16">
                        <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1"/>
                    </svg>
                        
                </div>
                <h3 class="mt-6 text-xl font-semibold leading-tight md:mt-7 text-white">Ideate</h3>
                <p class="mt-4 text-base text-gray-400 md:text-lg md:mx-14">
                    Generating ideas to properly achieve the inteded goals of the project
                </p>
            </div>
            <div>
                <div class="flex items-center justify-center w-16 h-16 mx-auto cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" fill="orange" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                    </svg>
                        
                </div>
                <h3 class="mt-6 text-xl font-semibold leading-tight md:mt-7 text-white">Create</h3>
                <p class="mt-4 text-base text-gray-400 md:text-lg md:mx-14">
                    The actual development phase to execute the ideas
                </p>
            </div>
            <div>
                <div class="flex items-center justify-center w-16 h-16 mx-auto cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" fill="orange" class="bi bi-send" viewBox="0 0 16 16">
                        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                    </svg>
                        
                </div>
                <h3 class="mt-6 text-xl font-semibold leading-tight md:mt-7 text-white">Deploy and Maintain</h3>
                <p class="mt-4 text-base text-gray-400 md:text-lg md:mx-14">
                    Go live for the developed project and maintenance
                </p>
            </div>
        </div>
    </div>
</section>
