<section class="bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
        <div class="p-10">
            <div class="text-center">
                <h1 class="text-custom-text text-3xl md:text-5xl font-extrabold mb-2 justify-center">Latest News and Updates</h1>
            </div>
        </div>
        <div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16">
            <div class="grid grid-cols-1 md:grid-cols-4 sm:grid-cols-2 gap-5">  
            
                <!-- news and update summarize -->
                <div class="relative w-full flex items-end justify-start text-left" style="height: 450px;">
                    <img class="absolute top-0 right-0 bottom-0 left-0 object-cover object-center h-[450px]" src="./assets/img/Bear.png" alt="Background Image">
                    <div class="absolute top-0 mt-20 right-0 bottom-0 left-0 bg-gradient-to-b from-transparent to-gray-900"></div>


                    <div class="absolute top-0 right-0 left-0 mx-5 mt-2 flex justify-between items-center">
                        <div class="text-black font-regular flex flex-col justify-start">
                            <span class="text-3xl leading-0 font-semibold">27</span>
                            <span class="-mt-3">July</span>
                        </div>
                    </div>
                    <main class="p-5 z-10">
                        <a href="https://northtriamtech.com/bear-markets-are-they-common" target="_blank"
                            class="text-md tracking-tight font-medium leading-7 font-regular text-white hover:underline">Bear Market: Are They Common?
                        </a>
                    </main>
    
                </div>
    
                <div class="relative w-full flex items-end justify-start text-left" style="height: 450px;">
                <img class="absolute top-0 right-0 bottom-0 left-0 object-cover object-center h-[450px]" src="./assets/img/Benefits.png" alt="Background Image">
                <div class="absolute top-0 mt-20 right-0 bottom-0 left-0 bg-gradient-to-b from-transparent to-gray-900"></div>
                    <div class="absolute top-0 right-0 left-0 mx-5 mt-2 flex justify-between items-center">
                            <div class="text-black font-regular flex flex-col justify-start">
                                <span class="text-3xl leading-0 font-semibold">08</span>
                                <span class="-mt-3">July</span>
                            </div>
                    </div>
                    <main class="p-5 z-10">
                        <a href="https://northtriamtech.com/benefits-of-a-website-for-small-businesses" target="_blank"
                            class="text-md tracking-tight font-medium leading-7 font-regular text-white hover:underline">Benefits of A Website For Small Business
                        </a>
                    </main>
    
                </div>
    
                <div class="relative w-full flex items-end justify-start text-left" style="height: 450px;">
                <img class="absolute top-0 right-0 bottom-0 left-0 object-cover object-center h-[450px]" src="./assets/img/Bolt.png" alt="Background Image">
                <div class="absolute top-0 mt-20 right-0 bottom-0 left-0 bg-gradient-to-b from-transparent to-gray-900"></div>
            
                <div class="absolute top-0 right-0 left-0 mx-5 mt-2 flex justify-between items-center">
                        <div class="text-black font-regular flex flex-col justify-start">
                            <span class="text-3xl leading-0 font-semibold">27</span>
                            <span class="-mt-3">September</span>
                        </div>
                </div>
                    <main class="p-5 z-10">
                        <a href="https://northtriamtech.com/bolt-point-of-sale-system" target="_blank"
                            class="text-md tracking-tight font-medium leading-7 font-regular text-white hover:underline">BOLT: The Latest in Point of Sale Systems from North TriamTech
                        </a>
                    </main>
    
                </div>
    
                <div class="relative w-full flex items-end justify-start text-left" style="height: 450px;">
                    <img class="absolute top-0 right-0 bottom-0 left-0 object-cover object-center h-[450px]" src="./assets/img/Bitcoin.png" alt="Background Image">
                    <div class="absolute top-0 mt-20 right-0 bottom-0 left-0 bg-gradient-to-b from-transparent to-gray-900"></div>
            
                    <div class="absolute top-0 right-0 left-0 mx-5 mt-2 flex justify-between items-center">
                        <div class="text-black font-regular flex flex-col justify-start">
                            <span class="text-3xl leading-0 font-semibold">22</span>
                            <span class="-mt-3">September</span>
                        </div>
                    </div>
                    <main class="p-5 z-10">
                        <a href="https://northtriamtech.com/the-crash-of-bitcoin" target="_blank"
                            class="text-md tracking-tight font-medium leading-7 font-regular text-white hover:underline">The Crash of Bitcoin, Either, and Other Cryptocurrencies
                        </a>
                    </main>
    
                </div>
    
            </div>
        </div>
    </div>
</section>