<!-- the ceo -->
<div class="min-h-screen flex flex-col p-8 sm:p-16 md:p-24 justify-center bg-custom-bg-light dark:bg-gray-900]">
  <!-- Themes: blue, purple and teal -->
  <div data-theme="teal" class="mx-auto max-w-6xl">
    <h2 class="sr-only">Featured case study</h2>
    <section class="font-sans text-custom-text">
      <div class="[ lg:flex lg:items-center ] [ fancy-corners fancy-corners--large fancy-corners--top-left fancy-corners--bottom-right ]">
        <div class="flex-shrink-0 self-stretch sm:flex-basis-40 md:flex-basis-50 xl:flex-basis-60">
          <div class="h-full">
            <article class="h-full">
              <div class="h-full">
                <img class="h-[450px] object-cover  transform  hover:scale-105 transition ease-in-out " src="./assets/img/Ceo.jpg" alt='""' typeof="foaf:Image" />
              </div>
            </article>
          </div>
        </div>
        <div class="p-6 bg-grey">
          <div class="leading-relaxed">
            <h2 class="leading-tight text-4xl font-bold text-custom-primary">Message from the CEO</h2>
            <p class="mt-4">NorthTriamTech Inc. is built to serve our fellow Entrepreneurs in MSME. We aim to be your main partner to help you hand in hand towards addressing the technology backlogs of your business processes and to assure a smooth transformation of your company from conventional to digital.</p>
            <p class="mt-4">We at NorthTriamTech Inc. believes that the direction of your business matters most together with it’s speed.
            </p>
            <!-- <img src="./assets/img/sign.png" class="h-12 mt-5"> -->
            <p class="mt-10 ">Julian Arnel Paulo Sia<br>  Chief Executive Officer</p>

            <button class="relative overflow-hidden bg-transparent uppercase text-center text-xs md:text-sm lg:text-base font-medium text-teal-500 border-2 border-teal-500 py-2 px-4 md:py-3 md:px-6 rounded-lg transition duration-300 ease-in-out hover:text-gray-800 hover:bg-teal-500 hover:border-teal-500 mt-10" (click)="scrollToComponent('team')">
            MEET THE REST OF THE TEAM
              <span class="absolute w-0 h-3/2 bg-teal-500 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 rotate-45 transition duration-500 ease-in-out opacity-0 group-hover:opacity-100"></span>
            </button>
            
          </div>
        </div>
      </div>
    </section>
  </div>
</div>