
<!-- latest news and update -->
<section class="bg-custom-bg-light dark:bg-gray-900]">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
      <div class="bg-gray-50 dark:bg-custom-bg/80 border border-gray-200 hover:bg-custom-bg/60 dark:border-gray-700 rounded-lg p-8 md:p-12 mb-8">
        <h1 class="text-gray-900 dark:text-custom-text text-3xl md:text-5xl font-extrabold mb-2 ">Latest News and Updates</h1>
        <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-6">Learn what's new with North Triam Tech and the latest trends in the IT industry. Stay on top of news and updates from us and the biggest firms in the industry.</p>
        <a href="#" class="inline-flex justify-center items-center py-2.5 text-base font-medium text-center text-custom-text rounded-lg dark:text-custom-primary">
          Read more
          <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
        </a>
      </div>
  
      <div class="grid md:grid-cols-2 gap-8">
        <div class="bg-gray-50 dark:bg-custom-bg/80 border border-gray-200 hover:bg-custom-bg/60 dark:border-gray-700 rounded-lg p-8 md:p-12">
          <img [src]="Bear" class="w-full"/>
          <h2 class="text-gray-900 dark:text-custom-text text-3xl font-extrabold mb-2">Bear Markets: Are They Common?</h2>
          <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">Bear markets are a normal thing. Since 1929 there have been 26 bear markets. 36 percent of stock is lost on average in a bear market, but gains 114 percent in time of a bull market.</p>
          <a href="#" class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center text-custom-text rounded-lg bg-custom-accent hover:bg-custom-accent-hover focus:ring-4 focus:ring-custom-accent dark:focus:ring-custom-accent-hover">
              Read more
              <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
              </svg>
            </a>
        </div>
        

        <div class="bg-gray-50 dark:bg-custom-bg/80 border border-gray-200 hover:bg-custom-bg/60 dark:border-gray-700 rounded-lg p-8 md:p-12 ">
          <img [src]="Benefits" class="w-full"/>
          <h2 class="text-gray-900 dark:text-custom-text text-3xl font-extrabold mb-2">Benefits Of A Website For Small Businesses</h2>
          <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">One of the biggest help you can get in promoting your business and selling your products and services is having a website. A website allows businesses to differentiate themselves from others, mainly for consumers who are mostly on the internet.</p>
          <a href="#" class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center text-custom-text rounded-lg bg-custom-accent hover:bg-custom-accent-hover focus:ring-4 focus:ring-custom-accent dark:focus:ring-custom-accent-hover">
          Read more
          <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
        </a>
        </div>
        <div class="bg-gray-50 dark:bg-custom-bg/80 border border-gray-200 hover:bg-custom-bg/60 dark:border-gray-700 rounded-lg p-8 md:p-12 ">
          <img [src]="Bolt" class="w-full"/>
          <h2 class="text-gray-900 dark:text-custom-text text-3xl font-extrabold mb-2">BOLT – The Latest in Point of Sale Systems from NorthTriamTech</h2>
          <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">NorthTriamTech is proud to present an avenue to take this data to your advantage. The latest in point of sale systems, we present to you BOLT. BOLT is a point of sale application designed to streamline your retail processes into the digital platform. </p>
          <a href="#" class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center text-custom-text rounded-lg bg-custom-accent hover:bg-custom-accent-hover focus:ring-4 focus:ring-custom-accent dark:focus:ring-custom-accent-hover">
          Read more
          <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
        </a>
        </div>
        <div class="bg-gray-50 dark:bg-custom-bg/80 border border-gray-200 hover:bg-custom-bg/60 dark:border-gray-700 rounded-lg p-8 md:p-12 ">
          <img [src]="Bitcoin" class="w-full"/>
          <h2 class="text-gray-900 dark:text-custom-text text-3xl font-extrabold mb-2">The Crash of Bitcoin, Ether, and Other Cryptocurrencies</h2>
          <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">On Tuesday (September 7, 2021) El Salvador just became the first country in the world to welcome bitcoin as legal tender, regardless of extensive domestic doubtfulness and world wide warnings of threat for consumers.</p>
          <a href="#" class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center text-custom-text rounded-lg bg-custom-accent hover:bg-custom-accent-hover focus:ring-4 focus:ring-custom-accent dark:focus:ring-custom-accent-hover">
          Read more
          <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
        </a>
        </div>
      </div>
    </div>
  </section>
    
  <section class="relative overflow-hidden bg-gray-50 dark:bg-gray-900">
    <div class="mt-2 md:mt-0 py-12 pb-6 sm:py-16 lg:pb-24 overflow-hidden">
       <div class="mb-6 max-w-3xl text-center sm:text-center md:mx-auto md:mb-12">
        <h2 class="font-heading mb-4 font-bold tracking-tight dark:text-white text-3xl sm:text-5xl">
          <span class="border-b-4 border-orange-500">CORE VALUES</span> WE STAND FOR
      </h2>
    
       </div>
        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 relative" >
            <div class="relative mt-12 lg:mt-20" >
                <div class="absolute inset-x-0 hidden xl:px-44 top-2 md:block md:px-20 lg:px-28">
                    <svg class="w-full" xmlns="http://www.w3.org/2000/svg" width="875" height="48" viewBox="0 0 875 48"
                        fill="none">
                        <path
                            d="M2 29C20.2154 33.6961 38.9915 35.1324 57.6111 37.5555C80.2065 40.496 102.791 43.3231 125.556 44.5555C163.184 46.5927 201.26 45 238.944 45C312.75 45 385.368 30.7371 458.278 20.6666C495.231 15.5627 532.399 11.6429 569.278 6.11109C589.515 3.07551 609.767 2.09927 630.222 1.99998C655.606 1.87676 681.208 1.11809 706.556 2.44442C739.552 4.17096 772.539 6.75565 805.222 11.5C828 14.8064 850.34 20.2233 873 24"
                            stroke="#D4D4D8" stroke-width="3" stroke-linecap="round" stroke-dasharray="1 12" />
                    </svg>
                </div>
                <div
                    class="relative grid grid-cols-1 text-center gap-y-8 sm:gap-y-10 md:gap-y-12 md:grid-cols-3 gap-x-12">
                    <div>
                        <div
                            class="flex items-center justify-center w-16 h-16 mx-auto bg-white dark:bg-gray-800 border-2 border-gray-200 dark:border-gray-700 rounded-full shadow">
                            <span class="text-xl font-semibold text-gray-700 dark:text-gray-200">1</span>
                        </div>
                        <h3
                            class="mt-4 sm:mt-6 text-xl font-semibold leading-tight text-gray-900 dark:text-white md:mt-10">
                            CANDOR
                        </h3>
                        <p class="mt-3 sm:mt-4 text-base text-gray-600 dark:text-gray-400">
                          The quality of being open and honest in expression
                        </p>
                    </div>
                    <div>
                        <div
                            class="flex items-center justify-center w-16 h-16 mx-auto bg-white dark:bg-gray-800 border-2 border-gray-200 dark:border-gray-700 rounded-full shadow">
                            <span class="text-xl font-semibold text-gray-700 dark:text-gray-200">2</span>
                        </div>
                        <h3
                            class="mt-4 sm:mt-6 text-xl font-semibold leading-tight text-gray-900 dark:text-white md:mt-10">
                            TEAMWORK
                        </h3>
                        <p class="mt-3 sm:mt-4 text-base text-gray-600 dark:text-gray-400">
                          The combined action of a group of people, especially when effective and efficient
                        </p>
                    </div>
                    <div>
                        <div
                            class="flex items-center justify-center w-16 h-16 mx-auto bg-white dark:bg-gray-800 border-2 border-gray-200 dark:border-gray-700 rounded-full shadow">
                            <span class="text-xl font-semibold text-gray-700 dark:text-gray-200">3</span>
                        </div>
                        <h3
                            class="mt-4 sm:mt-6 text-xl font-semibold leading-tight text-gray-900 dark:text-white md:mt-10">
                            OPTIMISM
                        </h3>
                        <p class="mt-3 sm:mt-4 text-base text-gray-600 dark:text-gray-400">
                          Hopefulness and confidence about the future or the successful outcome of something
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>