<section class="bg-custom-bg h-auto flex flex-col justify-center items-center aspect-w-16 aspect-h-9">

    <!-- product 1 -->
    <div class="my-16 lg:my-28 flex items-center justify-center" id="bolt">
        <div class="grid grid-cols-1 container lg:grid-cols-2 items-center justify-center aos-init aos-animate" >
            <div>
                <img src="./assets/img/bolttt.png" class="w-full"/>
            </div>
            <div class="xl:pr-14 p-5 flex flex-col gap-5 aos-init aos-animate" data-aos="fade-up"
            data-aos-duration="1000">
                <div class="text-custom-primary font-bold text-4xl ">BOLT Point-of-Sale System
                </div>
                <p class="text-custom-text ">The BOLT Point-of-Sale System enables maintenance and processing of sales, purchases, and inventory data. It can also prepare transaction documents and generate reports based on the data inputted in the system. It provides information’s useful to decision making regarding sales, purchases and inventory movements, details, and histories to allow improved control over your investment. Information processed by the system, can assist in critical decision-making factors regarding: sales, purchases, and inventory movements.</p>
            </div>
        </div>
    </div>
    
    <!-- product 2 -->
    <div class="my-16 lg:my-28 flex items-center justify-center" id="dash" >
        <div class="grid grid-cols-1 container lg:grid-cols-2 items-center justify-center">
            <div class="order-1 lg:order-2">
                <img src="./assets/img/1_dash.png" class="w-full"/>
            </div>
            <div class="xl:pl-14 p-5 flex flex-col gap-5 order-2 lg:order-1 aos-init aos-animate" data-aos="fade-up"
            data-aos-duration="1000"> 
                <div class="text-custom-primary font-bold text-4xl ">Dine and Service Hub</div>
                <p class="text-custom-text ">Dine and Service Hub (DASH) is a comprehensive restaurant management system designed to streamline operations and enhance efficiency across various facets of restaurant management. DASH encompasses modules tailored to meet the needs of different roles within the restaurant ecosystem, including chefs, kitchen staff, administrators, and cashiers.</p>
            </div>
            
        </div>
    </div>

    <!-- product 3 -->
    <div class="my-16 lg:my-28 flex items-center justify-center" id="hush">
        <div class="grid grid-cols-1 container lg:grid-cols-2 items-center justify-center aos-init aos-animate" >
            <div class="p-5">
                <img src="./assets/img/3_hush.png" class="w-full"/>
            </div>
            <div class="xl:pr-14 p-5 flex flex-col gap-5 aos-init aos-animate" data-aos="fade-up"
            data-aos-duration="1000">
                <div class="text-custom-primary font-bold text-4xl ">Hotel Utility and Service Hub</div>
                <p class="text-custom-text ">A comprehensive solution designed to revolutionize the way hotels handle room reservations, occupancy, and guest experiences. This cutting-edge platform empowers hoteliers to efficiently manage room inventory, optimize occupancy rates, and deliver exceptional guest services, ensuring a seamless and delightful stay for every guest.</p>
            </div>
        </div>
    </div>

    <!-- product 4 -->
    <div class="my-16 lg:my-28 flex items-center justify-center" id="membership">
        <div class="grid grid-cols-1 container lg:grid-cols-2 items-center justify-center">
            <div class="p-5 order-1 lg:order-2 aos-init aos-animate">
                <img src="./assets/img/4_membership.png" class="w-full"/>
            </div>
            <div class="xl:pl-14 p-5 flex flex-col gap-5 order-2 lg:order-1 aos-init aos-animate" data-aos="fade-up"
            data-aos-duration="1000"> 
                <div class="text-custom-primary font-bold text-4xl ">Membership Hub</div>
                <p class="text-custom-text ">Our MembershipHub offers a user-friendly interface and robust functionality to simplify the management of memberships and enhance member experiences. With streamlined processes and detailed insights, you can focus on building a thriving community while efficiently managing administrative tasks.</p>
            </div>
            
        </div>
    </div>

    <!-- product 5 -->
    <div class="my-16 lg:my-28 flex items-center justify-center" id="pdrt">
        <div class="grid grid-cols-1 container lg:grid-cols-2 items-center justify-center aos-init aos-animate" >
            <div class="p-5">
                <img src="./assets/img/pdrt.png" class="w-full"/>
            </div>
            <div class="xl:pr-14 p-5 flex flex-col gap-5 aos-init aos-animate" data-aos="fade-up"
            data-aos-duration="1000">
                <div class="text-custom-primary font-bold text-4xl ">Pre-Done Responsive Theme
                </div>
                <p class="text-custom-text ">Elevate your online presence with our Pre-Done Responsive Theme Website, a cutting-edge solution designed to empower individuals and businesses to create stunning websites quickly and effortlessly. Whether you're a small business owner, freelancer, blogger, or creative professional, our responsive themes offer a seamless and intuitive platform to showcase your brand, products, or services with style and sophistication.</p>
            </div>
        </div>
    </div>
</section>