<section class="h-screen bg-[url('./assets/img/Tech.png')]  bg-no-repeat bg-cover bg-fixed "> 
    <div class="w-full h-full flex flex-col justify-center items-center text-custom-text gap-1 px-5 " data-aos="fade-up"
    data-aos-duration="1000">    
      <h1 class="text-white font-bold text-4xl "> Who we are. </h1>
      <p class="text-center max-w-3xl md:max-w-5xl mx-auto mt-4 text-base text-gray-400 leading-relaxed md:text-lg"> North Triam Tech stands as a beacon of innovation and efficiency in the realm of digital transformation for MSME-entrepreneurs. Our core mission revolves around seamlessly integrating technology to automate and streamline various business processes. We believe in facilitating a smooth transition from traditional methods to digital solutions, ensuring our clients stay ahead in today's competitive market landscape.  </p>
    </div>
</section>   