<!-- frameworks  -->
<section class="bg-custom-bg-light h-auto flex flex-col justify-center items-center">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 z-10 relative">
        <h1 class="mb-4 text-2xl font-extrabold tracking-tight leading-none md:text-3xl lg:text-4xl text-custom-primary ">Frameworks, IDEs and App Integrations We Work With</h1>
        <p class="mb-8 text-lg font-normal lg:text-xl sm:px-16 lg:px-48 text-gray-200">Here are some of the applications that we work with. Our list is dynamic and continues to expand with the demand and trend in new technologies.</p>
        <form class="w-full max-w-md mx-auto">
            <div class="absolute inset-y-0 rtl:inset-x-0 start-0 flex items-center ps-3.5 pointer-events-none">
            </div>
        </form>
    </div>
    <div class="flex space-x-16 overflow-hidden w-full">
       <div class="flex space-x-16 animate-loop-scroll ">
          <img loading="lazy" src="./assets/img/vue.png" class="max-h-44" alt="Image 1" />
          <img loading="lazy" src="./assets/img/zapier.png" class="max-h-44" alt="Image 2" />
          <img loading="lazy" src="./assets/img/net.png" class="max-h-44" alt="Image 3" />
          <img loading="lazy" src="./assets/img/wordpress.png" class="max-h-44" alt="Image 4" />
          <img loading="lazy" src="./assets/img/nodejs.png" class="max-h-44" alt="Image 5" />
          <img loading="lazy" src="./assets/img/visual.png" class="max-h-44" alt="Image 6" />
          <img loading="lazy" src="./assets/img/laravel.png" class="max-h-44" alt="Image 7" />
          <img loading="lazy" src="./assets/img/multistore.png" class="max-h-44" alt="Image 8" />
          <img loading="lazy" src="./assets/img/vue.png" class="max-h-44" alt="Image 9" />
          <img loading="lazy" src="./assets/img/vue.png" class="max-h-44" alt="Image 10" />
        </div>      
    </div>
  </section>