<app-title></app-title>
<app-product></app-product>
<app-whoweare></app-whoweare>
<app-ceo></app-ceo>
<app-the-team></app-the-team>
<app-services></app-services>
<app-mobile></app-mobile>
<app-web></app-web>
<app-desktop></app-desktop>
<app-logos></app-logos>
<app-newsupdate></app-newsupdate>
<app-corevalues></app-corevalues>
<app-about></app-about>
<app-contact></app-contact>

<button id="to-top-button" onclick="goToTop()" title="Go To Top"
    class="hidden fixed z-50 bottom-10 right-10 p-4 border-0 w-14 h-14 rounded-full shadow-md bg-blue-500 hover:bg-blue-700 text-white text-lg font-semibold transition-colors duration-300">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
        <path d="M12 4l8 8h-6v8h-4v-8H4l8-8z" />
    </svg>
    <span class="sr-only">Go to top</span>
</button>

